@model IEnumerable<string>

@{
    var types = new[] { "BloodPressure", "BloodPressureDiastolic", "BloodPressureSystolic" };
    var selected = Model ?? Enumerable.Empty<string>();
}

@foreach (var item in types)
{
    <div class="checkbox">
        <label>
            <input type="checkbox" name="@Html.NameForModel()" value="@item" @(selected.Contains(item) ? "checked=\"checked\"" : "") /> @item
        </label>
    </div>
}

