@using MyBp.Models
@model HealthDataQueryRequest

<form method="post">
    <div class="form-group">
        <label asp-for="Types"></label>
        @Html.EditorFor(m => m.Types)
    </div>

    <div class="form-group">
        <label asp-for="RangeOfStartDate.LowerBound"></label>
        <input asp-for="RangeOfStartDate.LowerBound" class="form-control"/>
        <span asp-validation-for="RangeOfStartDate.LowerBound"></span>
    </div>
    <div class="form-group">
        <label asp-for="RangeOfStartDate.UpperBound"></label>
        <input asp-for="RangeOfStartDate.UpperBound" class="form-control" />
        <span asp-validation-for="RangeOfStartDate.UpperBound"></span>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

@section Scripts
{
    @Html.Partial("_ValidationScriptsPartial")
}
