@using System.IdentityModel.Tokens.Jwt
@using System.Security.Claims
@{
    var givenName = User.FindFirstValue(JwtRegisteredClaimNames.GivenName);
    var familyName = User.FindFirstValue(JwtRegisteredClaimNames.FamilyName);
    var name = $"{givenName} {familyName}";
}

<hr />

<h3>Welcome @name</h3>